/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.button-register {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.button-register button {
    height: 37px;
    width:100px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Sans-Serif, serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: white;
    background: #8A738D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
