.login-form {
  background: #9e86c2;
  padding: 50px 20px 0px;

  .content-box {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 7px;
  }

  .input-login {
    width: 400px;
    display: block;
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
  }

}
