<div class="header-component">
    <div > HOME</div>
    <div >Trello</div>
    <div class="select-container">
        <div class="language-select">
            <ng-select class="language" [formControl]="language" [items]="languageItems" [searchable]="false"
                       [clearable]="false">
            </ng-select>

        </div>
    </div>

    <div class="container" *ngIf="!user" (click)="openLogin()">
        <div class="log-in">
            <div>
                {{'log_In'|translate}}
            </div>
        </div>
        <img src="assets/icons/profile_avatar_blue.svg" width="42" height="42"
             alt="profile_avatar_blue "/>
    </div>
    <div class="container" *ngIf="user">
        <div class="log-in">
            <div>
                {{user.name}}
            </div>
        </div>
        <div (click)="logOut()">
            <img src="assets/icons/icon-logout-blue.svg" width="22" height="22"
                 alt="profile_avatar_blue"/>
        </div>
    </div>
</div>
<app-header-modal [displayDialog]="loginUser  " (onHide)="loginUser=false">
    <app-login *ngIf="loginUser"></app-login>
</app-header-modal>

<app-header-modal [displayDialog]="openRegisterModal" (onHide)="openRegisterModal=false">
    <app-register *ngIf="openRegisterModal"></app-register>
</app-header-modal>
<app-header-modal [displayDialog]="openForgotPassword" (onHide)="openForgotPassword=false">
    <app-forgot-password *ngIf="openForgotPassword"></app-forgot-password>
</app-header-modal>
