<div class="wraper">
    <div class="content">
        <div class="board">
            <div class="board-item">
                <span contenteditable="true" class="title"> enter name</span>
                <div class="lists">
                    <div class="list-item" draggable="true"> start card</div>
                </div>
                <div class="form">
                    <input type="text" class="textarea" placeholder="Enter name for this card"/>
                    <div class="buttons">
                        <div class="cancel">cancel_item_btn//Cancel</div>
                        <div class="add-item">add_item_btn// Add</div>
                    </div>
                </div>
                <div class="add-new-card"><span>+</span> add new card</div>
            </div>
        </div>
        <div class="add-board"> add board</div>
    </div>
</div>
