$primary-font-body: 'Roboto',
Sans-Serif,
serif;
$color-white-100: #FFFFFF;
$color-blue-200: #28265B;

$color-blue-200: #28265B;
$color-white-rgba-200:rgba($color-white-100, .8);
$color-blue-rgba-200: rgba($color-blue-200, .3);
