<div class="container">
    <div class="content">
        <div class="text-box">
            <div> {{'Forgot your password' | translate}}</div>
            <br>
            <div style="font-weight: 300">{{'Forgot your password?_subtext' | translate}}
            </div>
            <br>
            <div [formGroup]="forgotPassword">
                <div class="text-box">E-Mail</div>
                <input class="input-login" formControlName="email" placeholder="mail@mail.com">
                <div class="button-register">
                    <button (click)="sendEmail()"> {{'Send' | translate}}</button>
                </div>
            </div>
        </div>


    </div>
</div>
