<div class="container">
    <div class="content">

        <div class="text-box">
            <div> FORGOT YOUR PASSWORD?</div>
            <br>
            <div style="font-weight: 300">Don’t worry. Resetting your password
                <div> is easy,just tell us the email address you registered.</div>
            </div>
            <br>
            <div [formGroup]="forgotPassword">
                <div class="text-box">E-Mail</div>
                <input class="input-login" formControlName="email" placeholder="mail@mail.com">
                <div class="button-register">
                    <button (click)="sendEmail()"> Send</button>
                </div>
            </div>
        </div>


    </div>
</div>
