<div class="container">
    <div class="content">
        <div class="text-box">
            <div> SET NEW PASSWORD?</div>
            <br>
            <div style="font-weight: 300"> Enter new password
            </div>
            <br>
            <div [formGroup]="resetPassword">
                <div class="text-box">Password</div>
                <input class="input-login" formControlName="password" type="password" placeholder="password">
                <div class="button-register">
                    <button (click)="newPassword()"> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
